/* Placing a background and choosing a font*/
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
      background-image:url(images/backgrounds/subtle_white_mini_waves.png);
  }
  /*Setting a height and background color for the header*/
  header {
      height: 140px;
      background-color: #38571a;
      background-image:url(images/backgrounds/subtle_brown_mini_waves.png);
  }
  /*Choosing a ont, formatting and color for logo*/
  .logo {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 72px;
    color: #b1dd8c;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 20px 0 0 0;
  }
  /*Header 2 and 3 formatting and color*/
  header h2,h3 {
      font-family: 'Montserrat', serif;
      color: #b1dd8c;
      margin: 0px;
      font-size: 18px;
      text-align: center;
  }
  /*Formatting and background for the footer*/
  footer {
      height: 60px;
      background-color: #38571a;
      background-image:url(images/backgrounds/subtle_brown_mini_waves.png);
  
  }
  
  section {
      padding: 0 25%;
    margin: 80px 0;
  }
  
  /* Heading formatting */
  h1, h2 {
    font-family: 'Montserrat Alternates', sans-serif;
      color: #0a4604;
    text-align: center;
    font-weight: 500;
  }
  
  h1 { font-size: 28px; }
  h2 { font-size: 26px; }
  h3 { font-size: 18px; }
  
  p, li {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5em;
   margin-bottom: 0;
  }
  
  a {
      font-weight: 700;
      text-decoration: none;	
  }
  /*Styling links*/
  a:link { color: #f30707; }
  a:visited { color: red; }
  a:hover { color: #2600fe; }
  a:active { color: #009dff; }
  a:hover {
      text-decoration: underline;	
  }
  
  em {
    font-weight: bold;
    font-style: normal;
  }
  /*Footer formatting*/
  footer p {
      color: #fff;	
      text-align: center;
    padding: 30px;
    margin: 0;
  }
  
  /* -------  Elements ------- */
  
  img, iframe { 
    width: 100%;	
    border-radius: 8px;
    border: 1px solid #c5c0b8;
  } 
  
  /* -------  Modifier styles ------- */
  
  .border-top {
    padding-top: 80px;
    border-top: 2px solid #403933;
  }